Pounderland-Alarm
[
    {
        "id": "9e801803.b9a938",
        "type": "twitter in",
        "z": "c9adcd2.22e263",
        "twitter": "",
        "tags": "#pounderland",
        "user": "false",
        "name": "Pounderland",
        "topic": "tweets",
        "inputs": 0,
        "x": 219,
        "y": 251,
        "wires": [
            [
                "ccd8d341.22a1b",
                "d99cdf9c.f8dde",
                "612f9389.c1f6bc"
            ]
        ]
    },
    {
        "id": "ccd8d341.22a1b",
        "type": "trigger",
        "z": "c9adcd2.22e263",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 509,
        "y": 342,
        "wires": [
            [
                "d8cd6a28.ed8678"
            ]
        ]
    },
    {
        "id": "d8cd6a28.ed8678",
        "type": "rpi-gpio out",
        "z": "c9adcd2.22e263",
        "name": "LED Pin 21",
        "pin": "40",
        "set": "",
        "level": "0",
        "out": "out",
        "x": 725,
        "y": 342,
        "wires": []
    },
    {
        "id": "d99cdf9c.f8dde",
        "type": "debug",
        "z": "c9adcd2.22e263",
        "name": "Tweet information",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 547,
        "y": 166,
        "wires": []
    },
    {
        "id": "eacb706d.a0fea",
        "type": "debug",
        "z": "c9adcd2.22e263",
        "name": "Output of Pounderland_Tweets file",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 499,
        "y": 556,
        "wires": []
    },
    {
        "id": "e9c1d479.bca6d8",
        "type": "e-mail",
        "z": "c9adcd2.22e263",
        "server": "smtp.gmail.com",
        "port": "465",
        "name": "lespwork@gmail.com",
        "dname": "",
        "x": 1230,
        "y": 468,
        "wires": []
    },
    {
        "id": "b79a7b59.074738",
        "type": "file in",
        "z": "c9adcd2.22e263",
        "name": "",
        "filename": "/home/pi/Pounderland_Tweets",
        "format": "utf8",
        "x": 719,
        "y": 467,
        "wires": [
            [
                "3c206e54.be3782"
            ]
        ]
    },
    {
        "id": "612f9389.c1f6bc",
        "type": "file",
        "z": "c9adcd2.22e263",
        "name": "",
        "filename": "/home/pi/Pounderland_Tweets",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 805,
        "y": 250,
        "wires": []
    },
    {
        "id": "d5cfcda7.9f7f5",
        "type": "watch",
        "z": "c9adcd2.22e263",
        "name": "Pounderland_Tweets",
        "files": "/home/pi/Pounderland_Tweets",
        "x": 174,
        "y": 470,
        "wires": [
            [
                "eacb706d.a0fea",
                "b79a7b59.074738"
            ]
        ]
    },
    {
        "id": "3c206e54.be3782",
        "type": "function",
        "z": "c9adcd2.22e263",
        "name": "modify email",
        "func": "msg.topic = msg.topic.replace(\"/home/pi/Pounderland_Tweets\", \"Ooh new bargains have been found!!! \");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 977,
        "y": 468,
        "wires": [
            [
                "e9c1d479.bca6d8"
            ]
        ]
    }
]